<!--<ion-item-sliding >
  <ion-item-options side='end'>
    <ion-item-option color='success' (click)='transferKnopGeklikt()'>
      <ion-icon slot="icon-only" name='swap-horizontal-outline'></ion-icon>
    </ion-item-option>
  </ion-item-options>-->

  <ion-item [routerLink]="['speler-transfers', speler.id]" button detail="true" lines="full">
    <img *ngIf="spelersService.spelers.length > 0" [src]="'../../../assets/ploeglogos/' + speler.logo" alt="logo" class="logo"/>
    {{ speler.naam }}
    {{ speler.isKapitein ? '(K)' : ''}}

    <ion-note slot="end">transfer</ion-note>

  </ion-item>

<!--</ion-item-sliding>-->
