.logo {
  margin-right: 10px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.speler-logo-container {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
