<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="veranderSpeeldag(-1)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Speeldag {{ huidigeSpeeldag }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="veranderSpeeldag(1)">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="veranderSpeeldag(-1)">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title> Speeldag {{ huidigeSpeeldag }}</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="veranderSpeeldag(1)">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div *ngFor="let wedstrijd of wedstrijden">
    <app-wedstrijd [wedstrijd]="wedstrijd"></app-wedstrijd>
  </div>


</ion-content>
