<ion-item-sliding>
  <ion-item-options side='end'>
    <ion-item-option id="open-modal" [color]="transferActief ? 'danger' : 'primary'" (click)='wisselKnopGeklikt()'>
      <ion-icon slot="icon-only" [name]="transferActief ? 'close' : 'swap-vertical-outline'"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options *ngIf="speler.isActief" side='start'>
    <ion-item-option color='success' (click)='spelersService.maakKapitein(speler)'>
      Maak kapitein
    </ion-item-option>
  </ion-item-options>

  <ion-item [class.beschikbaar-voor-wissel]="isBeschikbaarVoorWissel" (click)="wisselSpeler()" lines="full">
   <span class="speler-logo-container">
      <img [src]="speler.logo" alt="logo" class="logo"/>
   </span>
    {{ speler.naam }}
    {{ speler.isKapitein ? '(K)' : '' }}

    <ion-note slot="end">{{ speler.volgendeMatch }}</ion-note>
    <!--<ion-button slot="end" (click)="openWisselMenu(speler)">Wissel</ion-button>-->
  </ion-item>

</ion-item-sliding>
