.volgendeMatchInfo {
  font-size: 0.7em; /* Maak de tekst kleiner */
  position: relative;
  top: 3px; /* Positie iets lager */
}

.item-end {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}


.beschikbaar-voor-wissel {
  --ion-item-background: #1b603b; /* Pas deze kleur aan naar wens */
}
.logo {
  margin-right: 10px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.speler-logo-container {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
