<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ wisselSpeler?.naam }}</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!toonZoekveld" (click)="toonZoekveld = true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="toonZoekveld" (click)="toonZoekveld = false">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="toonZoekveld">
    <ion-searchbar placeholder="Zoek naar spelers" (ionInput)="zoekTerm$.next($event.target.value || '')"></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="sorteerKeuze" (ionChange)="onSorteerKeuzeGewijzigd($event.detail.value)">
      <ion-segment-button value="naam" (click)="checkSorteerKeuze('naam')">
        <ion-label>Naam</ion-label>
        <ion-icon *ngIf="sorteerKeuze === 'naam'" [name]="omgekeerdeSortering ? 'arrow-down-outline' : 'arrow-up-outline'"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="prijs" (click)="checkSorteerKeuze('prijs')">
        <ion-label>Prijs</ion-label>
        <ion-icon *ngIf="sorteerKeuze === 'prijs'" [name]="omgekeerdeSortering ? 'arrow-down-outline' : 'arrow-up-outline'"></ion-icon>
      </ion-segment-button>
      <!--<ion-segment-button value="punten">
        <ion-label>TP</ion-label>
      </ion-segment-button>-->
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>{{ getPositieLabel() }}</ion-label>
          <ion-note slot="end">Veeg naar links op speler voor transfer.</ion-note>
        </ion-item-divider>

        <app-transfer-speler-in *ngFor="let speler of gefilterdeSpelers" [speler]="speler"></app-transfer-speler-in>

      </ion-item-group>
    </ion-list>
</ion-content>
