<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ wisselSpeler?.naam }}</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!toonZoekveld" (click)="toonZoekveld = true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="toonZoekveld" (click)="toonZoekveld = false">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="toonZoekveld">
    <ion-searchbar placeholder="Zoek naar spelers"></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="naam">
        <ion-label>Naam</ion-label>
      </ion-segment-button>
      <ion-segment-button value="prijs">
        <ion-label>Prijs</ion-label>
      </ion-segment-button>
      <ion-segment-button value="punten">
        <ion-label>TP</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Hier komt je lijst met spelers -->
</ion-content>
