<ion-card>
  <ion-card-header>
    <div class="team-info">
      <div class="team">
        <img [src]="wedstrijd.thuisploegLogo" alt="{{ wedstrijd.thuisploeg }}" class="team-logo"/>
        <div class="team-name">{{ wedstrijd.thuisploeg }}</div>
      </div>
      <div class="vs">VS</div>
      <div class="team">
        <img [src]="wedstrijd.uitploegLogo" alt="{{ wedstrijd.uitploeg }}" class="team-logo"/>
        <div class="team-name">{{ wedstrijd.uitploeg }}</div>
      </div>
    </div>
    <ion-card-subtitle>{{ wedstrijd.datum }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div *ngIf="wedstrijd.finished; else upcomingMatch">
      <ion-label>Eindstand:</ion-label>
      <ion-chip color="primary">{{ wedstrijd.thuisscore }}</ion-chip> -
      <ion-chip color="secondary">{{ wedstrijd.uitScore }}</ion-chip>
    </div>
    <ng-template #upcomingMatch>
      <ion-label>Wedstrijd begint om {{ formatTijd(wedstrijd.uur) }}</ion-label>
    </ng-template>
  </ion-card-content>
</ion-card>
