<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="gebruiker?.ploeg?.naam === 'Stel een ploegnaam in'else toonTitel">
      <form [formGroup]="ploegnaamForm" (ngSubmit)="updatePloegnaam()">
        <ion-input formControlName="ploegnaam" placeholder="Voer ploegnaam in"></ion-input>
        <ion-button type="submit" [disabled]="!ploegnaamForm.valid">Opslaan</ion-button>
      </form>
    </ng-container>
    <ng-template #toonTitel>
      <ion-title>{{ gebruiker?.ploeg?.naam || "nog niet" }}</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FC-Placeholder</ion-title>
    </ion-toolbar>
  </ion-header>



    <!--tabs-->
  <ion-segment [(ngModel)]="activeTab">
    <ion-segment-button value="mijnploeg">
      <ion-label>Mijn ploeg</ion-label>
    </ion-segment-button>
      <ion-segment-button value="punten">
        <ion-label>Punten</ion-label>
      </ion-segment-button>
    <ion-segment-button value="transfers">
      <ion-label>{{ tabNaam }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="competities">
      <ion-label>Competities</ion-label>
    </ion-segment-button>
    </ion-segment>




   <!-- content tab mijn ploeg-->
    <div *ngIf="activeTab === 'mijnploeg'">
      <div *ngIf="spelerService.spelers.length === 0">
        <p>Koop eerst spelers</p>
      </div>
      <div *ngIf="spelerService.spelers.length > 0">

        <div *ngIf="spelerInfoIsGewijzigd" class="ion-margin">

          <ion-button (click)="bevestigPloegwijziging()" size="small" fill="outline" color="medium">Opslaan</ion-button>
        </div>

        <ion-list>
          <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>Doelman</ion-label>
            </ion-item-divider>

            <app-speler *ngIf="spelerService.actieveDoelman" [speler]="spelerService.actieveDoelman" [wedstrijden]="wedstrijdenVanSpeeldag"></app-speler>

          </ion-item-group>


          <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>Verdedigers</ion-label>
            </ion-item-divider>

            <app-speler *ngFor="let speler of spelerService.actieveVerdedigers" [speler]="speler" [wedstrijden]="wedstrijdenVanSpeeldag"></app-speler>


          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>MiddenVelders</ion-label>
            </ion-item-divider>
            <app-speler *ngFor="let speler of spelerService.actieveMiddenvelders" [speler]="speler" [wedstrijden]="wedstrijdenVanSpeeldag"/>

          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>{{ spelerService.actieveAanvallers.length === 1 ? 'Aanvaller' : 'Aanvallers' }}</ion-label>
            </ion-item-divider>
            <app-speler *ngFor="let speler of spelerService.actieveAanvallers" [speler]="speler" [wedstrijden]="wedstrijdenVanSpeeldag"/>
          </ion-item-group>


          <!-- Hieronder reserve spelers -->

          <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>Reserve Doelman</ion-label>
            </ion-item-divider>
            <app-speler *ngIf="spelerService.reserveDoelman" [speler]="spelerService.reserveDoelman" [wedstrijden]="wedstrijdenVanSpeeldag"></app-speler>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>Wissel Spelers</ion-label>
            </ion-item-divider>
            <app-speler *ngFor="let speler of spelerService.reserveSpelers" [speler]="speler" [wedstrijden]="wedstrijdenVanSpeeldag"></app-speler>
          </ion-item-group>
        </ion-list>
      </div>
    </div>

 <!-- content tab punten-->
  <div *ngIf="activeTab === 'punten'">
    <div *ngIf="spelerService.spelers.length === 0">
      <p>Koop eerst spelers</p>
    </div>
    <div *ngIf="spelerService.spelers.length > 0">
      <ion-item>Work in progress</ion-item>
    </div>
  </div>
  <!-- transfer pagina-->
  <div *ngIf="activeTab === 'transfers'">

    <div *ngIf="spelerService.zijnSpelersGewijzigd()" class="ion-margin">
      <!-- Knoppen om te annuleren en op te slaan -->
      <ion-button slot="end" (click)="annuleerWijzigingen()" size="small" fill="outline" color="medium">Annuleren</ion-button>
      <ion-button slot="end" [disabled]="spelerService.heeftPlaceholderSpeler()" (click)="slaWijzigingenOp()" size="small" fill="outline" color="medium">Opslaan</ion-button>
    </div>


    <ng-container *ngIf="spelerService.isDataLoaded(); else loading">
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="light">
            <ion-label>Doelmannen</ion-label>
          </ion-item-divider>


          <app-transfer-speler *ngFor="let speler of spelerService.doelmannen" [speler]="speler"></app-transfer-speler>

        </ion-item-group>

        <ion-item-group>
          <ion-item-divider color="light">
            <ion-label>Verdedigers</ion-label>
          </ion-item-divider>

          <app-transfer-speler *ngFor="let speler of spelerService.verdedigers" [speler]="speler"></app-transfer-speler>


        </ion-item-group>

        <ion-item-group>
          <ion-item-divider color="light">
            <ion-label>MiddenVelders</ion-label>
          </ion-item-divider>
          <app-transfer-speler *ngFor="let speler of spelerService.middenvelders" [speler]="speler"/>

        </ion-item-group>

        <ion-item-group>
          <ion-item-divider color="light">
            <ion-label>Aanvallers</ion-label>
          </ion-item-divider>
          <app-transfer-speler *ngFor="let speler of spelerService.aanvallers" [speler]="speler"/>
        </ion-item-group>
      </ion-list>
    </ng-container>

    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>

    </div>







  <div *ngIf="activeTab === 'competities'">
    <ion-item>Work in progress comp</ion-item>
  </div>



</ion-content>
