.voetbalveld-achtergrond {
  background-image: url('../../assets/images/voetbalveld.svg');
  background-size: cover; // of gebruik 'contain' afhankelijk van je behoeften
  background-position: center;
  height: 100%; // Stel de hoogte in naar behoefte
  width: 100%; // Stel de breedte in naar behoefte
}


