<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FC-Placeholder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FC-Placeholder</ion-title>
    </ion-toolbar>
  </ion-header>


    <!--tabs-->
  <ion-segment [(ngModel)]="activeTab">
    <ion-segment-button value="mijnploeg">
      <ion-label>Mijn ploeg</ion-label>
    </ion-segment-button>
      <ion-segment-button value="punten">
        <ion-label>Punten</ion-label>
      </ion-segment-button>
    <ion-segment-button value="transfers">
      <ion-label>Transfers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="competities">
      <ion-label>Competities</ion-label>
    </ion-segment-button>
    </ion-segment>


   <!-- content tab mijn ploeg-->
    <div *ngIf="activeTab === 'mijnploeg'">


    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Doelman</ion-label>
        </ion-item-divider>

        <app-speler *ngIf="spelerService.actieveDoelman" [speler]="spelerService.actieveDoelman"></app-speler>

      </ion-item-group>


      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Verdedigers</ion-label>
        </ion-item-divider>

        <app-speler *ngFor="let speler of spelerService.actieveVerdedigers" [speler]="speler"></app-speler>


      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>MiddenVelders</ion-label>
        </ion-item-divider>
        <app-speler *ngFor="let speler of spelerService.actieveMiddenvelders" [speler]="speler"/>

      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>{{ spelerService.actieveAanvallers.length === 1 ? 'Aanvaller' : 'Aanvallers' }}</ion-label>
        </ion-item-divider>
        <app-speler *ngFor="let speler of spelerService.actieveAanvallers" [speler]="speler"/>
      </ion-item-group>


      <!-- Hieronder reserve spelers -->

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Reserve Doelman</ion-label>
        </ion-item-divider>
        <app-speler *ngIf="spelerService.reserveDoelman" [speler]="spelerService.reserveDoelman"></app-speler>

      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Wissel Spelers</ion-label>
        </ion-item-divider>
        <app-speler *ngFor="let speler of spelerService.reserveSpelers" [speler]="speler"></app-speler>
      </ion-item-group>

    </ion-list>
    </div>



</ion-content>
