.voetbalveld-achtergrond {
  background-image: url('../../assets/images/voetbalveld.svg');
  background-size: cover; // of gebruik 'contain' afhankelijk van je behoeften
  background-position: center;
  height: 100%; // Stel de hoogte in naar behoefte
  width: 100%; // Stel de breedte in naar behoefte
}


ion-segment-button {
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 35px;
}

ion-label {
  font-weight: normal;
  font-size: 0.8em;
}
