<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ploeg">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Ploeg</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kalender">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Kalender</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistieken">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Statistieken</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
